Devoir/d1/*
!Devoir/d1/
!Devoir/d1/d1.py

Devoir/d2/*
!Devoir/d2/
!Devoir/d2/d2.py

Devoir/d3/*
!Devoir/d3/
!Devoir/d3/d3.py

Devoir/d4/*
!Devoir/d4/
!Devoir/d4/d4.py

Devoir/d5/*
!Devoir/d5/
!Devoir/d5/d5.py